body{
    background-image: linear-gradient(to right, rgb(20, 47, 220), rgb(37, 177, 49));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(62, 74, 85);
    padding: 10px;
    width: 50%;
   
  
    
}

#submit{
    width: 100px;
    padding: 10px;
    margin-left: 300px;
    background-color: rgb(48, 20, 201);
    border: none;
    cursor: pointer;
   
}
.dataLabel{
    margin-left: 42px;
}
.dataOrador{
    margin-left: 25px;
}
.presid{
    width: 500px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
   
    
}
.LabelOrador{
    margin-left: 27px;
}
.LabelTema{
    margin-left: 37px;
}
.LabelDirigente{
    margin-left: 14px;

}
.LabelLeitor{
    margin-left: 40px;
}
.LabelMes{
    margin-left: 40px;
}
.mes{
    width: 500px;
    padding: 5px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;
}
/* Os Input */
.dirigente{
    width: 500px;
    padding: 5px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;
}
.leitor{
    width: 500px;
    padding: 5px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;
}
.data{
   
    padding: 5px;
    margin-left: 18px;
    border: none;
    border-radius: 5px;
}
.tema{
    width: 500px;
    padding: 5px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;

}
.orac{
    width: 500px;
    padding: 5px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;
    
}
.botao{
    width: 200px;
    margin-left: 230px;
    height: 10px;
    padding: 5px;
    height: 50px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;

}
legend{
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
}
fieldset{
    border: 2px solid gray;
}
h4{
    text-align: center;
}
hr{
    border: 2px solid white;
   
    
}





